<app-navbar></app-navbar>

<div *ngIf="loading == false">
  <div style="padding-top: 5em">
    <main class="container">
      <h1>Your tickets</h1>

      <div class="ui relaxed divided list">
        <div class="item" *ngFor="let ticket of account.tickets">
          <i class="large ticket alternate middle aligned icon"></i>
          <div class="content">
            <a class="header">{{ticket.event.name}}</a>
            <div class="description">Price: {{ticket.price}}</div>
          </div>
        </div>
      </div>
      <h4 class="ui horizontal divider header">
        <i class="shopping cart icon"></i>
        Total costs
      </h4>
      <div class="ui center aligned basic segment">
        <h1 class="ui huge header">
          ${{totalCosts}}
        </h1>
      </div>
      <br>
    </main>
  </div>
</div>

<div *ngIf="loading == true">
  <div style="padding-top: 5em">
    <main class="container">
      <img src="https://media.giphy.com/media/l4FGv5Ci0WIp8kYhO/giphy.gif" />
    </main>
  </div>
</div>
