Hello Component
<br>
tekst
<p>hello works!</p>

<input type="text" [value]="myVariable" />
<button (click)="callMyFunction()">Call my function</button>

<!-- <br /><br /> -->

<!-- <input type="text" [value]="text" (input)="updateValue($event)"> -->
<!-- {{text}} -->

<!-- <br /><br /> -->

<!-- <input type="text" [(ngModel)]="text" /> -->
<!-- {{ text }} -->

<br /><br /><br /><br /><br /><br />

<!-- <app-fibonacci></app-fibonacci> -->

<br /><br /><br /><br /><br /><br />
<!-- <app-fetching></app-fetching> -->

<app-get-users-from-backend></app-get-users-from-backend>
